<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DonorDarah"
        tools:targetApi="34" >
        <activity
            android:name=".ui.theme.Profile.HistoryMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.theme.Login.suksesGantisandi"
            android:exported="false" />
        <activity
            android:name=".ui.theme.ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.theme.FiturDonorDarah.LokasiPMI"
            android:exported="false" />
        <activity
            android:name=".ui.theme.Login.SuksesDaftar"
            android:exported="false" />
        <activity
            android:name=".ui.theme.FiturDonorDarah.MenuDonorDarah"
            android:exported="false" />
        <activity
            android:name=".ui.theme.Fitur.MenuStokDarah"
            android:exported="false" />
        <activity
            android:name=".ui.theme.Profile.SyaratKetentuan"
            android:exported="false" />
        <activity
            android:name=".ui.theme.Profile.Tentang"
            android:exported="false" />
        <activity
            android:name=".ui.theme.Login.sandiBaru"
            android:exported="false" />
        <activity
            android:name=".ui.theme.Login.VerifikasiEmail"
            android:exported="false" />
        <activity
            android:name=".ui.theme.Login.gantisandi"
            android:exported="false" />
        <activity
            android:name=".ui.theme.Login.Pembukaan2"
            android:exported="false" />
        <activity
            android:name=".ui.theme.Login.Pembukaan1"
            android:exported="false" />
        <activity
            android:name=".ui.theme.Profile.EditProfile"
            android:exported="false" />
        <activity
            android:name=".ui.theme.Profile.MenuProfile"
            android:exported="false" />
        <activity
            android:name=".ui.theme.Home.Home"
            android:exported="false" />
        <activity
            android:name=".ui.theme.Login.SignIn"
            android:exported="false" />
        <activity
            android:name=".ui.theme.Login.SignUp"
            android:exported="false" />
        <activity
            android:name=".ui.theme.Login.Welcome"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DonorDarah" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>